body{
	background: url(../image/login.png);
	background-size: cover;
}
#login{
	position:absolute;
	margin-top: 20%;
	margin-left: 38%;
	width:20%;
	height:50%;
	font-size: 0.8vw;
	border-radius: 20px;
	box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.4);
	background-color: #FFFFFF;
}
#change_password{
	position:absolute;
	margin-top: 20%;
	margin-left: 38%;
	width:20%;
	height:50%;
	font-size: 0.8vw;
	border-radius: 20px;
	box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.4);
	background-color: #FFFFFF;
}
#reset_password{
	position:absolute;
	margin-top: 20%;
	margin-left: 38%;
	width:20%;
	height:50%;
	font-size: 0.8vw;
	border-radius: 20px;
	box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.4);
	background-color: #FFFFFF;
}
#name{
	margin-top: 5%;
	margin-left: 8%;
	font-size: 2vw;
}
[name="u"]{
	margin-top: 5%;
	margin-left: 8%;
	width:80%;
	font-size: 1.5vw;
	border: 2px solid;
	border-color: #909090;
}
[name="p"]{
	margin-top: 5%;
	margin-left: 8%;
	width:80%;
	font-size: 1.5vw;
	border: 2px solid;
	border-color: #909090;
}
[name="op"]{
	margin-top: 5%;
	margin-left: 8%;
	width:80%;
	font-size: 1.5vw;
	border: 2px solid;
	border-color: #909090;
}
[name="np"]{
	margin-top: 5%;
	margin-left: 8%;
	width:80%;
	font-size: 1.5vw;
	border: 2px solid;
	border-color: #909090;
}
[name="cnp"]{
	margin-top: 5%;
	margin-left: 8%;
	width:80%;
	font-size: 1.5vw;
	border: 2px solid;
	border-color: #909090;
}
[name="e"]{
	margin-top: 5%;
	margin-left: 8%;
	width:80%;
	font-size: 1.5vw;
	border: 2px solid;
	border-color: #909090;
}
#remember_me{
    cursor: pointer;
	margin-top: 5%;
	margin-left: 8%;
	font-size: 0.8vw;
}
button{
    cursor: pointer;
	margin-top: 5%;
	margin-left: 8%;
	width:83%;
	height:3vw;
	font-size: 1.5vw;
	color: #FFFFFF;
	background-color: #353535;
	transition-duration: 0.1s;
	border: none;
}
button:hover{
	background-color: #424242;
}
#forgot_password{
	margin-top: 2%;
	margin-right: 8%;
	float: right;
    cursor: pointer;
	color: #808080;
	font-size: 0.8vw;
	background-color: #FFFFFF;
	border: none;
}
form div{	
	margin-top: 5%;
	margin-left: 8%;
	font-size: 1vw;
}