#header{
	display: block;
	height: 60px;	
	background-color: #002219;
}
#header div{
	height: 60px;	
	background-color: #002219;
}
#side_menu{
	width: 200px;
    position: absolute;
    bottom: 0px;
	top: 60px;
	background-color: #002219;
}
#menu_notice{
	background-color: white;
	color: black;
}
#menu_notice div{
	background-color: white;
	color: black;
}
#main_part{
    width: calc(100vw - 200px);
    height: calc(100vh - 60px);
    position: absolute;
    left: 200px;
	top: 60px;
}
#menu_ac{
	float:left;
    width: 44%;
	height: 42%;
}
#menu_notice{
	float:left;
    width: 44%;
	height: 42%;
}
#menu_notice ul{
	 height: 80%;
	 overflow: scroll;
}
#menu_light{
	float:left;
    width: 44%;
}
#menu_security{
	background-color: #3C86F7;
}
#menu_security div{
	background-color: #3C86F7;
}
#menu_health{
	background-color: #E84453;
}
#menu_health div{
	background-color: #E84453;
}