#header{
    position: absolute;
	left: 200px;
	right: 0px;
	height: 60px;	
	background-color: #002219;
}
#header div{
	opacity: 1;
}
#header_icon{
	margin-top: 1%;
	margin-left: 1%;
	height: 2vw;
	width: auto;
	float:left;
}
#name{
	margin-top: 1%;
	margin-left: 1%;
	font-size: 1.5vw;
}
#user_icon{
	margin-top: 1%;
	margin-left: 1%;
	height: 2vw;
	width: auto;
	float:left;
}
#user{
	margin-top: 1.3%;
	margin-left: 1%;
	font-size: 1.2vw;
	float:left;
}
#signout{
	margin-top: 1.5%;
	margin-left: 1%;
	float:left;
	display: inline-block;
}
#change_password_button{
	margin-top: 1.5%;
	margin-left: 1%;
	float:left;
	display: inline-block;
}
#button-list-group {
    position: relative;
}
#button-list-area {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}
#button-list-group:hover #button-list-area {
	display: block; 
}
#side_menu{
	width: 200px;
    position: absolute;
    bottom: 0px;
	top: 60px;
	background-color: #002219;
}
#energy{
    border: 2px solid #E87C44;
	background-color: #E87C44;
}
#energy:hover {
	box-sizing: border-box;
    border: 2px solid #EEAD8B;
    background-color: #E88756;
}
#menu_notice{
	float:left;
    width: 44%;
	height: 42%;
    border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	color: black;
}
#menu_notice:hover {
	box-sizing: border-box;
    border: 2px solid #DDDDDD;
    background-color: #FFFFFF;
}
#menu_notice div{
	margin-top: 3%;
	margin-left: 5%;
	font-size: 2vw;
	background-color: white;
	color: black;
}
#menu_notice ul{
	height: 65%;
	width: 80%;
	margin-top: 2%;
	margin-left: 8%;
	overflow: scroll;
}
#main_part{
    width: calc(100vw - 220px);
    height: calc(100vh - 120px);
    position: absolute;
    left: 220px;
	top: 100px;
}
#menu_ac{
	float:left;
    width: 44%;
	height: 42%;
}
#ac_text1{
	margin-top: 5%;
	margin-left: 5%;
}
#ac_text2{
	margin-top: 1%;
	margin-left: 5%;
}
#temperature{
	font-size: 3vw;
	margin-top: 1%;
	margin-left: 5%;
}
#menu_light{
	float:left;
    width: 44%;
}
#menu_security{
    border: 2px solid #3C86F7;
	background-color: #3C86F7;
}
#menu_security:hover {
	box-sizing: border-box;
    border: 2px solid #70C1E6;
    background-color: #5892EC;
}
#menu_health{
    border: 2px solid #E84453;
	background-color: #E84453;
}
#menu_health:hover {
	box-sizing: border-box;
    border: 2px solid #FF8691;
    background-color: #EC5664;
}
#ac_your_room{
	margin-left:38%;
	margin-right:42%;
}
#light_your_room{
	margin-left:38%;
	margin-right:42%;
}
#send_alarm{
	margin-left:38%;
	margin-right:42%;
    border: 2px solid #FF0000;
	background-color: #FF0000;
}
#send_alarm:hover {
	box-sizing: border-box;
    border: 2px solid #FF6800;
    background-color: #FF3030;
}
#add_device img{
	
	height: 80%;
	width: 60%;
	float:left;
	margin-left: 30%;
}
#report_illness{
	margin-left:38%;
	margin-right:42%;
    border: 2px solid #E84453;
	background-color: #E84453;
}
#report_illness:hover {
	box-sizing: border-box;
    border: 2px solid #FF8691;
    background-color: #EC5664;
}
#Covid19_Notice{
	width: 60%;
	margin-left: 18%;
	margin-right: 22%;
	margin-top: 10%;
	padding-top: 1%;
	font-size: 1.5vw;
    border: 2px solid #E84453;
	background-color: #E84453;
}
#Covid19_Notice:hover {
	box-sizing: border-box;
    border: 2px solid #FF8691;
    background-color: #EC5664;
}
#epidemic_prevention{
	margin-left:14%;
	color: #000000;
    border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
}
#epidemic_prevention:hover {
	box-sizing: border-box;
    border: 2px solid #DDDDDD;
    background-color: #FFFFFF;
}
#your_temperature{
	margin-left:2%;
}
#remote_control{
	margin-left:2%;
    border: 2px solid #808080;
	background-color: #808080;
}
#remote_control:hover {
	box-sizing: border-box;
    border: 2px solid #BDBDBD;
    background-color: #959595;
}